<div>
    <form id="cookieForm" action="/api/session/login" method="POST">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Ingresar</button>
        <a href="/recoveryPassword" class="button-recovery-password">Olvidaste tu contraseña?</a>
    </form>
    <div class="github">
        <i class="fa-brands fa-github"></i>
        <a href="/api/session/github">Ingresar con Github</a>
    </div>
</div>